<li>
        <article class="snippet">
                        <h3 class="snippet_title">{{ post.data.title }}</h3>
                        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
                        <p class="snippet_meta"> by <span>{{post.data.author}}</span> on <span>{{post.date | postDate }} 🪄</span></p>
                        <p class="snippet_body">{{post.data.description}}</p>
                        <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
        </article>

</li>
