<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Add CSS  -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Add title via front matter -->
    <h1>{{ title }}</h1> 
    <!-- Add header -->
    {% include 'header.njk' %}
    <main>
    <!-- Dispaly content after title front matter -->
    {{ content | safe }}
    </main>
    <!-- Add footer -->
    {% include 'footer.njk' %}
  </body>
</html>