<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 26.6" class="logo" width="8rem" fill="var(--logo-color, #000)">
        <img class="top-logo" src="https://logopond.com/logos/480b3b753c30ec85b1bcec097e1f789c.png" width="80" height="80">
</svg>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>