---
title: My Blog
layout: 'base.njk'
---

<div class="section container">
<h1 class="section-title">Recent articles</h1>
<!-- Loop through post -->
<ul role="list" class="articles__list flow">
{%- for post in collections.post | reverse -%}
        
        {% include 'article-snippet.njk' %}
{%- endfor%}

</ul>

</div>
