---
title: My Blog
layout: 'base.njk'
---

<div class="section container">
<h1 class="section-title">Recent articles</h1>
<!-- Loop through post -->
<ul role="list" class="articles__list flow">
{%- for post in collections.post | reverse -%}
        <li>
        <article class="snippet">
                        <h3 class="snippet_title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                        <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="snippet__image">
                        <p class="snippet_meta"> by <span>{{post.data.author}}</span> on <span>{{post.date | postDate }}</span></p>
                        <p class="snippet_body">{{post.data.description}}</p>
                        <a href="{{ post.url }}" class="btn btn--primary">Continue Reading</a>
        </article>

        </li>
{%- endfor%}

</ul>

</div>
